# Laboratoria i zależności
Lab1/
Lab2/
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Firebase
.firebase/
firebase-debug.log*
firebase-debug.err*

# Zmienne środowiskowe (Klucze API)
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Next.js i Build
.next/
out/
build/
.vercel
*.tsbuildinfo
next-env.d.ts

# Testy i Logi
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Systemowe
.DS_Store